<div class="jumbotron">
        <h1>SnippIt</h1>
        <h4>Your Personal Knowledge Library</h4>
        <p>Snippit let you easily create notes out of your web research sessions.</p>

        <p>1. Just select some text using your mouse.</p> 
		<img src="dist/img/2.png">
        
        <p>2. And Drag it.</p>
		
		<img src="dist/img/4.png">
        
        <p>Yes thats it.   Click on the dagger icon any time to see your notes.</p>

		<img src="dist/img/8.png">

</div>
<div class="well col-md-10 col-md-offset-1 text-center">
  Crafted with <span class="red">♥</span> in Bangalore</a> <br>
  <p>
      <a href="http://twitter.com/pandeyone"><span class="fui-twitter"></span></a>
      <a href="http://knowmix.wordpress.com"><span class="fui-wordpress"></span></a>
      <a href="http://github.com/avckp"><span class="fui-github"></span></a>
  </p>
  Icon credits Toni Cami
</div>
