
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#grouped">SnippIt</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-centre">
            <li class="active">
            <input  ng-model="searchtext" type="text" placeholder="Search" class="form-control search ">
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li ><a href="#all">All</a></li>
          <li ><a href="#grouped">Grouped</a></li>
          <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
<div class="jumbotron">
        <h1>SnippIt</h1>
        <h4>Your Personal Knowledge Library</h4>
        <p>Snippit let you easily create notes out of your web research sessions.</p>

        <p>1. Just select some text using your mouse.</p> 
		<img src="dist/img/2.png">
        
        <p>2. And Drag it.</p>
		
		<img src="dist/img/4.png">
        
        <p>Yes thats it.   Click on the dagger icon any time to see your notes.</p>

		<img src="dist/img/8.png">

</div>
<div class="well col-md-10 col-md-offset-1 text-center">
  Crafted with <span class="red">♥</span> in Bangalore</a> <br>
  <p>
      <a href="http://twitter.com/pandeyone"><span class="fui-twitter"></span></a>
      <a href="http://knowmix.wordpress.com"><span class="fui-wordpress"></span></a>
      <a href="http://github.com/avckp"><span class="fui-github"></span></a>
  </p>
  Icon credits Toni Cami
</div>
