
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#grouped">SnippIt</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-centre">
            <li class="active">
            <input  ng-model="searchtext" type="text" placeholder="Search" class="form-control search ">
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li ><a href="#all">All</a></li>
          <li ><a href="#grouped">Grouped</a></li>
          <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<span>{{alldata}}</span>
<div class="card" ng-repeat="p in alldata" ng-if="islegit(p.parent.deleted)">
      <div class="title-row row" >
        <div class="snip col-md-11" >
             <a class="snip-link" href={{p.URL}}>
              {{p.parent.title}}
             </a>
        </div>
        <ul class="col-md-1">
          <li>
            <a class="snip-link  fui-trash"  ng-click='trashthis(0,p.parent.id)'></a>
          </li>
        </ul>
      </div>
      <!-- <div class="row">
        <hr>
      </div> -->

      
      <div class="row">
        <div class="col-md-1">
          <span class="bold" ><a class="snip-link  fui-new" href="" data-toggle="collapse" data-target='#{{p.parent.id}}summaryedit'></a></span><br>
            
        </div>
        <div class="snip-summary-container col-md-10" >
          <div class="snip-summary">
            <div ng-if="summary">
              <i>{{summary}}</i>
            </div>
            <div ng-if="!summary">
              <i>Write your notes...</i>
            </div>
          </div>
        </div>
      </div>
        
      <ul class="snip-container row"  ng-repeat="k in p.snips|filter:searchtext" 
      ng-mouseenter="show = true" ng-mouseleave="show = false">
        
          <li   ng-if="true" class="col-md-10 col-md-offset-1">
            {{k.text}}
          </li>
          <span ng-show="show" class="fui-cross-circle col-md-1 trasher" ng-click="trashthis(1,k.id)"></span>
      </ul>

      <div class="row init-hidden" id='{{p.parent.id}}summaryedit'>
          <div class="snip-editor col-md-10">
            <input type="text" ng-model="summary" ng-init="summary=p.parent.summary" class="form-control" placeholder="Summary" />
          </div>
          <ul class="col-md-1" data-toggle="collapse" data-target='#{{p.parent.id}}summaryedit'>
            <li>
               <a class="snip-link  fui-cross" href=""></a>
            </li>
            <li>
               <a class="snip-link  fui-check" ng-click="updatesummary(p.parent.id,summary)"></a>
            </li>
          </ul>
      </div>
      <div class="row ">
        <div class="snip-tag-container col-md-10">
          <div class="tagsinput-primary snip-tag">
            <input placeholder={{placeholderText(p.tags,'Tag')}} ng-model="taggy" name="tagsinput" class="tagsinput" data-role="tagsinput" value={{returnall(p.parent.tags)}}  />
          </div>
        </div>
        <span ng-model="hashtag1" ng-init={{returnall(p.parent.tags)}} ng-click={{searchHashTag(hashtag1)}}>{{returnall(p.parent.tags)}}</span>
      </div>
    </div>